<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Robo Directory</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <header>

    </header>
    <main>
      <div class="bioContainer">
        <div id="bioAvaContainer">
          <img id="bioAvatar"src="{{avatar}}" alt="">
        </div>
        <div class="">
          <h2 id="bioName">{{name}}</h2>

        </div>


      </div>
    </main>
  </body>
</html>
